<section class="page">
    <div class="container">
        <div class="list-group">
            <% if !current_user.homeworks.blank? %>
                <% for homework in current_user.homeworks %>
                    <a href="<%= homework_path(homework) %>" class="list-group-item list-group-item-action">
                        <h5 class="list-group-item-heading"><%= homework.title %></h5>
                        <p class="list-group-item-text"><%= homework.description %></p>
                        <span class="text-muted small"> <%= homework.assignments.count %> Students assigned </span>
                    </a>
                <% end %>
            <% else %>
                <div class="empty text-xs-center">
                    <h2>You have no homeworks</h2>
                    <p class="lead">Create your first homework and you'll see them here.</p>
                    <a href="#" class="btn btn-success">Create your first one</a>
                </div>
            <% end %>
        </div>
    </div>
</section>
